* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  color: white; 
  width: 100%;
  min-height: 8vh;
  z-index: 1;
}

.fondo{
  /* position: absolute; */
  backdrop-filter: blur(9px);
  background-color: rgba(0, 0, 0, 0.88);
  width: 100%;
  min-height: 8vh;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
  flex-direction: column;
  width: 100%;
  position: relative;
  background-image: url("src/img/img_portada.png");
  background-size: cover;
  padding: 10px; 
}

.menu-content {
  display: flex;
  flex-direction: column;
  /* align-items: center;*/
} 

.buttonConfirm {
  position: fixed;
  z-index: 100;
  padding: 16px;
  bottom: 4%;
  right: 4%;
  border-radius: 10px;
  background: #ffb800;
  backdrop-filter: blur(7.5px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.buttonConfirm:hover{
  transform: scale(1.1,1.1);
}

.alert {
  position: fixed;
  padding: 0;
  border-radius: 0px 0px 29px 29px;
  background: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(7.5px);
  top: 50%;
  width: 70%;
  height: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.alertTitle {
  background: rgba(255, 184, 0, 0.68);
  backdrop-filter: blur(4.211065292358398px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Lexend;
  font-size: 1.2rem;
  height: 40px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.alertTextContainer {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(7.5px);
  margin: 64px 32px;
}

.alertTextContainer p {
  color: #454545;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px;
}

.alertButtonsContainer {
  border-radius: 10px;
  border: 1px solid #fff;
  background: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  margin: 0 px;
}

.accept,
.reject {
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  backdrop-filter: blur(7.5px);
  border: none;
  padding: 12px 86px;
}

.accept {
  background: rgba(87, 198, 0, 0.68);
}

.reject {
  background: rgba(53, 53, 53, 0.68);
}


/* Estilos para el h1 puntual */
.customH1 {
  font-size: 2.5rem;
  font-family: "Lexend", sans-serif; /* Fuente personalizada */
  font-weight: 600; /*Peso de semibold*/
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

/********SECTION 1 ***********/

/* Estilos para la sección1 con imagen de fondo */
.sectionOneWithBackground {
  background-image: url("src/img/img_portada.png"); /* Ruta a tu imagen de fondo */
  /* background-size: cover;  */
  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: auto;
}

.customH2 {
  color: #ffffff; /* Color personalizado */
  font-family: Lexend; /* Fuente personalizada */
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  text-align: left; /* Alineación a la izquierda */
  line-height: normal;
}

.colorAma {
  color: rgba(255, 184, 0, 1);
}

.infoContainer {
  width: 100%;/*en pantallas más grandes 750px*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 1%;
  /* align-items: flex-start; Alinea el contenido en la parte izquierda */
  /* justify-content: flex-end;  */
}

.clientInformationContainer {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: end; */
}

.informationContainerText {
  margin-left: 3%;
  width: 50%;
  margin-top: 32px;
  display: flex;
  justify-content: start;
  column-gap: 24px;
  align-items: start;
  flex-wrap: wrap;
}

.informationContainerText2{
  margin-left: 3%;
  width: 50%;
  margin-top: 32px;
  display: flex;
  justify-content: start;
  column-gap: 24px;
  align-items: start;
  flex-wrap: wrap;
}

.clientInformationContainer p,
.salesManInfoContainer p {
  margin: 0;
  text-align: left;
  color: #fff;
  font-family: DM Sans;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.salesManInfoContainer p {
  text-align: right;
}


.salesManInfoContainer {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
}

.salesManInfoContainerP{
  color: #fff;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-weight: 700;
}

/********SECTION 2***********/

.sectionTwoWithBackground {
  background-image: url("src/img/section2_background.png");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  background-position: center; /* Centra la imagen en la sección */
  color: #fff; /* Color del texto dentro de la sección */
  padding-top: 20px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.infoCol1 {
  width: 50%;
  flex: 0 0 calc(50%); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
  /* padding: 50px 60px; */
  display: flex;
  flex-direction: column;
  margin:0;
}

.infoCol2{
  width: 50%;
  flex: 0 0 calc(50%); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
  /* padding: 0px 60px 50px 60px; */
  display: flex;
  flex-direction: column;
  margin: 0;
}

.section2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;  /*ESTO*/
}

.titleSection2 {
  color: #fff;
  font-family: Lexend;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pSection2 {
  color: #fff;
  font-family: Lexend;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contCol1{
  border-radius: 0rem 3.125rem 3.125rem 0rem;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0.34) 0%, rgba(14, 14, 14, 0.34) 100%);
  backdrop-filter: blur(17.200000762939453px);
  padding: 20px;
  margin-right: 10px;
  margin-top: 8%;
}

.contCol2{
  border-radius: 3.125rem 0rem 0rem 3.125rem;
  background: linear-gradient(2deg, rgba(20, 20, 20, 0.34) 98.07%, rgba(0, 0, 0, 0.34) 151.09%, rgba(26, 26, 26, 0.34) 151.09%);
  backdrop-filter: blur(17.200000762939453px);
  padding: 20px;
  margin-left: 10px;
  margin-top: 8%;
}

.informationTop {
  padding: 30px 40px;
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
}

.imgCont{
  width: 100%;
  height: auto; 
  display: flex;
  padding: 0 !important;
}

.textCont{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scopeImage {
  width: 100%;
  height: 100%;
}


.informationBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 0.1875rem;
/*   background: rgba(33, 33, 33, 0.29);
  backdrop-filter: blur(7px); */
}

.sectionTwoTableTitle {
  text-align: left;
  color: #fff;
  font-family: DM Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 2%;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  background: rgba(84, 84, 84, 0.15);
  backdrop-filter: blur(4px);
  border-radius: 0.70188rem 0.70188rem 0rem 0rem ;
}

.projectDetailsTHead {
  height: 25px;
  width: inherit;
  font-weight: 400;
  font-style: normal;
  font-family: DM Sans, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.08525rem;
}

.projectDetailsTable {
  width: 100%;
  background: rgba(73, 73, 73, 0.25);
  backdrop-filter: blur(4.211065292358398px);
  border-radius: 0 0.1875rem;
}

.projectDetailsTr td:nth-child(1),
.projectDetailsTr th:nth-child(1) {
  text-align: left;
  padding-left: 16px;
}

.projectDetailsTr td:nth-child(2),
.projectDetailsTr th:nth-child(2) {
  text-align: right;
  padding-right: 150px;
}

.projectDetailsTr td:nth-child(3),
.projectDetailsTr th:nth-child(3) {
  text-align: right;
  padding-right: 16px;
}

/* .projectDetailsTr th, */
.projectDetailsTr td {
  font-size: 1rem;
  color: #fff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.364px;
  height: 20px;
  background: rgba(48, 48, 48, 0.8);
}

.projectDetailsTable {
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
}




/******Section3****/

.sectionThreeWithBackground {
  background-image: url("src/img/section3_background.png");
  background-size: cover;
  background-position: center;
  color: #323232;
  padding-bottom: 8px;
  min-height: 100vh;
  width: 100%;
}

.tableSow {
  background: #bebebc;
  padding: 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 14px;
}

.section3Sow{
  background: #D9D9D9; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;  /*ESTO*/
}

.ContAdders{
  width: 100%;
  margin: 20px;
}

.add{ 
      width: 25%;
      border-radius: 0.4rem;color: #000;
      font-family: DM Sans;
      font-size: 1.1rem;
      padding-left: 10px;
    }

.contRef{
  width: 100%;
  justify-content: center;
  display: flex;
}

.infoSection3ColSold {
  width: 50%;
  flex: 0 0 calc(50%); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  margin:0;
  background-image: url("src/img/section3_backgroundSold.png");
  background-size: cover;
}

.infoSection3ColProj {
  width: 50%;
  flex: 0 0 calc(50%); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
  padding: 0px 60px 50px 60px;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("src/img/section3_backgroundProj.png");
  background-size: cover;
}

.cont3Top{
  border-radius: 0rem 0rem 0.70188rem 0.70188rem;
  opacity: 0.83;
  background: #FFB800;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
  height: 10% ;
  width: 15%;
  align-self: flex-end;
  padding-top: 8px;
  padding-right: 20px;
}

.tcont3{
  color: #FFF;
  text-align: right;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.78);
  font-family: Lexend;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.section3Title {
  color: #000;
  font-family: Lexend;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 10px 20px 5px 20px; /*top right bottom left*/
}

.dateStyle {
  color: #000;
  font-family: Lexend;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 20px 20px 20px;
  margin: 0;
}

.soldSowHead {
  background: #b3b2b0; /* rgba(156, 156, 156, 0.93); */
  backdrop-filter: blur(4.211065292358398px);
  /*width: 53.6875rem;*/
  height: 3.125rem;
}

.textTable2 {
  color: #000;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05425rem;
  background-color: #d7d6d5;
  margin: 0;
}

.textTable1 {
  color: #000;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05425rem;
  background-color: #cececb;
  margin: 0;
}

.cont3 {
  background: rgba(212, 211, 211, 0.33);
  backdrop-filter: blur(2px);
  border-radius: 0rem 0rem 0.70rem 0.7rem;
  opacity: 0.9; 
  padding: 8px 0;
  width: 100%;
}

.bordeAma{
  border-left: 10px solid #FFB800;
}

.borderRed{
  border-left: 20px solid #F00;
}

.borderGreen{
  border-left: 20px solid rgba(94, 126, 79, 1);
}

.borderViolet{
  border-left: 20px solid #7A6082;
}

.borderBlue{
border-left: 20px solid #5D788C;
} 

.borderGris{
  border-left: 20px solid #bdb9b9;
}

.rectCont3{
  width: 0.9375rem;
  height: 100%;
  border-radius: 0rem 0rem 0.70188rem 0.70188rem;
  background: #FFB800;
  backdrop-filter: blur(4px);
}

.cont3Padd{
 padding: 3%;
}

.Flex {
  display: flex;
}

.colFlex {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.colFlexDec{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
}

.colFlecha {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0.625rem;
  /* opacity: 0.7; */
  background: rgba(69, 69, 69, 0.3);
  backdrop-filter: blur(5px);
  padding: 10px;
  margin-left: 4%; 
  margin-top: 19px;
}

.col3 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0.625rem;
  /* opacity: 0.7; */
  background: rgba(202, 200, 200, 0.29);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.contentSection {
  width: 100%;
  padding: 0 16px 0 16px;
}

.borderSectionMaps{
  border-top-left-radius: 4.125rem;
  border-top-right-radius: 4.125rem;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0.34) 0%, rgba(44, 44, 44, 0.34) 100%);
  backdrop-filter: blur(17.200000762939453px);
  margin-top: 20px; 
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.contImgBefore{
    width: 50%;
    flex: 0 0 calc(50%); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    margin:0;
}

.contImgAfter{
  width: 50%;
  flex: 0 0 calc(50%); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  margin:0;
}

.contentSectionTab {
  width: 100%;
  padding: 0;
  background: #d9d8d6 ;
}

.contentSectionTabCol2{
  width: 100%;
  padding: 0;
}

.contentSectionTabCol2 {
  width: 100%;
  padding: 0;
}

.colBase{
  margin-top: 8%;
  border-radius: 0.6rem;
  background: rgba(174, 174, 174, 0.57);
  backdrop-filter: blur(6px);
  width: 100%;
}

.colBaseMenor {
  margin-left: 5%;
  width: 94%;
  border-radius: 0.6rem;
  background: rgba(174, 174, 174, 0.57);
  backdrop-filter: blur(6px);
  padding: 10px; /*top right bottom left*/
}

.c1 {
  width: 80%;
}

.c2 {
  width: 20%;
  text-align: right;
}

.c1tab {
  width: 70%;
}

.c2tab {
  width: 30%;
  text-align: right;
}

.textInfo3 {
  color: #000;
  text-align: center;
  font-family: Lexend;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 0 0;
}

.tittles {
  color: #000;
  text-align: center;
  font-family: Lexend;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:0; 
}

.textItemName3 {
  color: #000;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08525rem;
  margin: 0;
}

.textItem3L {
  color: #000;
  font-family: Lexend;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0px 20px;
}

.textItem {
  color: #000;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08525rem;
  margin: 0;
  padding: 0;
}

.textItem3R {
  color: #000;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08525rem;
  text-align: right;
  margin: 0;
}

.colLeft {
  width: 12%;
}

.colLeftInfo{
  width: 52%;
}

.colLeftInfoEmpty{
  width: 44%
}

.colRightImg{
  width: 8%;
}

.colLeftInfoIteam{
  width: 64%;
}

.colRight {
  width: 14%;
}

.bGris {
  margin-top: 2%;
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(174, 174, 174, 0.57);
  backdrop-filter: blur(6px);
  /* padding: 12px; */
}

.bGrisP {
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(174, 174, 174, 0.57);
  backdrop-filter: blur(6px);
  padding: 10px; /*top right bottom left*/
}

.bGrisMenor {
  align-items: right;
  margin-left: 6%;
  width: 94%;
  border-radius: 0.6rem;
  background: rgba(174, 174, 174, 0.57);
  backdrop-filter: blur(6px);
  padding: 10px; /*top right bottom left*/
}

.bGrisI {
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(189, 189, 189, 0.38);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.bGrisCol2{
  margin-top: 2%;
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(68, 68, 68, 0.39);
  backdrop-filter: blur(6px);
  padding: 12px; 
}

.bGrisPCol2{
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(170, 170, 170, 0.3);
  backdrop-filter: blur(6px);
  opacity: 0.2px;
  padding: 10px;/*top right bottom left*/
}

.bGrisICol2{
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(169, 169, 169, 0.3);
  backdrop-filter: blur(5px);
  opacity: 0.2px;
  padding: 10px; 
}

.bGrisCol2{
  margin-top: 2%;
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(68, 68, 68, 0.39);
  backdrop-filter: blur(6px);
  padding: 12px; 
}

.bGrisPCol2{
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(170, 170, 170, 0.3);
  backdrop-filter: blur(6px);
  opacity: 0.2px;
  padding: 10px;/*top right bottom left*/
}

.bGrisICol2{
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(169, 169, 169, 0.3);
  backdrop-filter: blur(5px);
  opacity: 0.2px;
  padding: 10px; 
}

.colorModel{
    background: rgba(197, 197, 195, 0.38);
}
.colorModelCol2{
  background: rgba(70, 70, 70, 0.47);
}

.colorGross{
  background-color: rgba(149, 149, 149, 1);
}

.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.marginTop {
  margin-top: 1%;
}
.padBottom {
  padding-bottom: 6%;
}

.info3Content {

  height: auto; /*100%;*/
  width: 100%;
}

.img3Content {
  height: auto;
  width: 90%;
  justify-content: center;
  align-self: center;
}

.bordeAmarillo{
  border: 10px solid #FFB800;
}

.imgContainer {
  width: 100%;
  height: auto;
  padding: 0 !important;
}

.satelitalImage {
  width: 100%;
  height: 100%;
}

.mapOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  bottom: 0%;
  width: 100%; /*400px;*/
  height: 40px;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 30;
}

.mapOverlay p {
  margin: 0;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: left;
  font-family: "DM Sans", sans-serif;
  padding: 0;
  font-size: 0.8rem;
}

.soldSowTr th {
  color: #464646;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.364px;
  padding-left: 16px;
  padding-right: 16px;
  height: 20px;
}

.soldSowTr td {
  padding-left: 16px;
  padding-right: 16px;
  height: 20px;
  font-size: 1rem;
}

.soldSowTr th:nth-child(2),
.soldSowTr td:nth-child(2) {
  text-align: right;
}

.textSow {
  color: #323232;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08525rem;
  padding: 0 10px;
}

.bgTr1 {
  background: #ababa8;
}

.bgTr {
  color: #464646;
  font-family: DM Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08525rem;
}

/********SECTION 4 ***********/

.sectionFourWithBackground {
  background-image: url("src/img/section4_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */

  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.addersTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
  background-color: #d4d3d2;
}

.addersTable .addersThead th {
  border-spacing: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  height: 50px;
  font-family: Lexend;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #313435;
  margin-top: -16px; /* Elimina la separación superior */
}

.addersTr td {
  padding-left: 16px;
  background-color: #c9c8c7;
  color: #000;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.364px;
  height: 20px;
}

.addersTableCol2 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
  padding-left: 20px;
  padding-right: 20px;
}

.addersTableCol2 th {
  border-spacing: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  height: 50px;
  font-family: Lexend;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background-color: #313435; */
  margin-top: -16px; /* Elimina la separación superior */
}

.addersTrCol2 td {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 0.4rem;
  background-color: rgba(175, 175, 175, 0.5);
  color: #000;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.05425px;
  height: 20px; 
}

.textCenter{
  text-align: center;
}

.addersTbody tr:nth-child(1) {
  border-spacing: 0 0;
  margin-top: -32px; /* Elimina la separación superior */
}

/****BORRE ESTA SECTION**/
.totalContainer {
  display: flex;
  margin-top: 3px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #39393b;
  padding: 16px;
}

.total,
.totalValue {
  color: #fff;
  font-family: DM Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.98px;
  margin: 0;
}

.totalAuxiliary {
  padding: 16px;
  margin-top: 32px;
}

.projectDetailsTr td:nth-child(1),
.projectDetailsTr th:nth-child(1) {
  text-align: left;
}

.projectDetailsTr td:nth-child(2),
.projectDetailsTr th:nth-child(2) {
  text-align: right;
}

.projectDetailsTr td:nth-child(3),
.projectDetailsTr th:nth-child(3) {
  text-align: right;
}

.bgTrTd {
  background: #2f2c2c;
}

.auxiliaryProducts {
  width: 100%;
  margin-top: 32px;
  background: rgba(33, 33, 33, 0.69);
  backdrop-filter: blur(7.5px);
}

.auxiliaryProductsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 11.23px 11.23px;
  background: rgba(217, 217, 217, 0.17);
  backdrop-filter: blur(4.211065292358398px);
  height: 60px;
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auxiliaryProductsInformation {
  width: 60%;
}

/******* HASTA ACA*******/

.imageContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.roof,
.exterior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  background: rgba(98, 98, 98, 0.87);
  backdrop-filter: blur(7.5px);
}

.roof p,
.exterior p {
  color: #fff;
  font-family: Lexend;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 16px;
}

.auxiliaryList {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.18);
  backdrop-filter: blur(7.5px);
  padding: 8px 16px;
  margin-left: 32px;
}

.auxiliaryList div:nth-child(1) {
  margin-top: 0;
}

.auxiliaryItem {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.auxiliaryItem p {
  color: #fff;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.364px;
  margin: 0;
}

/***SECTION 4 real*/
.sectionFiveWithBackground {
  background-image: url("src/img/section5_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 50px;
  min-height: 100vh;
}

.tableContainer {
  width: 80%;
  background-color: #afaaaa96;
  backdrop-filter: blur(4.211065292358398px);
  border-radius:  11.23px 11.23px 0px 0px;
  margin: 32px 0;
}

.aligColor{
  width: 100%;
  text-align: left;
  color: #5B5B5B;
  padding: 30px 20px 30px 20px;
}

.tableContainerTitle {
  color: #343434;
  font-family: Lexend;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  line-height: normal;
  border-radius:  11.23px 11.23px 0px 0px;
  background: rgba(156, 156, 156, 0.93);
  backdrop-filter: blur(4.211065292358398px);
  padding-left: 16px;
}

.section5Tbody tr td {
  color: #323232;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.364px;
  background-color: #cbcac8;
  width: 100%;
  height: 20px;
  padding-left: 16px;
}

.section5Table {
  width: 100%;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
}

.positionRelative {
  position: relative;
}

/*************SECTION 5******************/

.sectionSixWithBackground {
  background-image: url("src/img/section5_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.secSixTitle {
  color: #393941;
  font-family: Lexend;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  width: 100%;
  margin:0; 
}

.secSixSubTitle {
  color: #101528;
  text-align: center;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  text-align: left;
  margin: 0 18px;
  margin-bottom: 3%;
}

.sectionSixImagesContainer {
  display: flex;
  height: 500px;
  justify-content: space-between;
  margin: 0 16px;
}

.secSixImageOne {
  width: 70%;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}

.secSixImageTwo {
  width: 20%;
  height: auto; 
  max-height: 500px;
}

.secSixInformationContainer {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  margin-left: 16px;
  margin-bottom: 50px;
  row-gap: 32px;
}

.secSixInfoContainer {
  display: flex;
  column-gap: 96px;
}

.secSixInfo {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 250px;
}

.secSixInfo h4 {
  color: #454545;
  font-family: DM Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.secSixInfo p {
  color: #101528;
  font-family: DM Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.secSixtableTitle {
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #686868;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secSixTable {
  width: 100%;
  background: #686868;
  padding: 0;
  margin-top: -16px;
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
}

.secSixTable thead {
  background-color: #616160;
  height: 55px;
  padding: 0 16px;
  margin-top: -16px;
}

.secSixTable thead th {
  text-align: center;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.secSixTable tbody tr td {
  text-align: center;
  color: #FFF;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08525rem;
}

.secSixTable tbody tr {
  background-color: #5c5c5c;
}

/* Establece un ancho fijo para cada columna */
.secSixTable th:nth-child(1),
.secSixTable td:nth-child(1) {
  width: 12%; /* Establece el ancho fijo según el contenido más largo en la primera columna */
}

.secSixTable th:nth-child(2),
.secSixTable td:nth-child(2) {
  width: 14%; /* Establece el ancho fijo según el contenido más largo en la segunda columna */
}

/* Establece un ancho fijo para cada columna */
.secSixTable th:nth-child(3),
.secSixTable td:nth-child(3) {
  width: 14%; /* Establece el ancho fijo según el contenido más largo en la primera columna */
}

.secSixTable th:nth-child(4),
.secSixTable td:nth-child(4) {
  width: 14%; /* Establece el ancho fijo según el contenido más largo en la segunda columna */
}

/* Establece un ancho fijo para cada columna */
.secSixTable th:nth-child(5),
.secSixTable td:nth-child(5) {
  width: 15%; /* Establece el ancho fijo según el contenido más largo en la primera columna */
}

.secSixTable th:nth-child(6),
.secSixTable td:nth-child(6) {
  width: 15%; /* Establece el ancho fijo según el contenido más largo en la segunda columna */
}

.secSixFinalTextContainer {
  display: flex;
  justify-content: start;
}

.secSixFinalText {
  color: #000;
  margin-top: 16px;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  letter-spacing: 1px;
}

/***SECTION 6 IMAGENES***/

.section6WithBackground {
  background-image: url("src/img/section6_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.section6ImagesContainer {
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0 16px;
  margin-bottom: 50px;
}

.sec6ImageOne {
  width: 100%;
  height: auto;
}

.sec6ImageTwo {
  width: 90%;
  height: auto; 
}

.sectionSix2ImagesContainer {
  display: flex;
  height: auto; 
  justify-content: space-evenly;
  margin: 0 16px;
  margin-bottom: 50px;
}

.sectionSix2Images2Container {
  display: flex;
  height: auto; 
  justify-content: space-between;
  margin: 0 16px;
  margin-bottom: 50px;
}

.secSix2Image1 {
  width: 40%;
  height: auto;
}

.secSix2Image2 {
  width: 40%;
   height: auto; 
}

.secSix2Image1H {
  width: 40%;
  height: auto;
  max-width: 100%;
  max-height: 300px;
}
.secSix2Image2H {
  width: 30%;
  height: auto; 
  max-width: 100%;
  max-height: 500px;
}

.secSix2Image1Home{
  width: 36%;
  height: auto;
  max-width: 100%;
  max-height: 400px;
}

.secSix2Image2Home{
  width: 23%;
  height: auto; 
  max-height: 500px ;
}

.secSix2Image2Rafter{
  width: 20%;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}

.textImg{
  color: #000;
  font-family: Lexend;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.secSixInformationImgContainer {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  margin-left: 16px;
  margin-bottom: 50px;
  row-gap: 32px;
}

.secSixInfoImgContainer {
  display: flex;
  column-gap: 96px;
}

.secSixInfoImg {
  display: flex;
  flex-direction: column;
  color: #101528;
  font-family: DM Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {

/*   .cont3Top{
    height: 10%;
    width: 50%;
  }
  .tcont3{
    font-size: 1rem;
  } */

  .textItemName3{
    font-size: 0.6rem;
  }

  .textItem{
    font-size: 0.8rem;
  }

  .sectionSixImagesContainer{
    height: 260px;
  }

  .secSixInfo h4{
      font-size: 1.2rem;
  }

  .secSixInfo p{
    font-size: 1rem;
  }

  .secSixInfoImg,.textImg {
    font-size: 1rem;
  }

  .infoCol1,.infoCol2{
    width: 100%;
    flex: 0 0 100%;
  }

  .infoSection3ColSold, .infoSection3ColProj{
    width: 100%; /* Ocupa todo el ancho disponible */
    flex: 0 0 100%;  
    padding: 20px; /* Ajusta el relleno para resoluciones más pequeñas */
  }
}

@media (max-width: 920px) {

  .infoCol1,.infoCol2{
    width: 100%;
    flex: 0 0 100%;
  }

/*   .contImgBefore, .contImgBefore{
    width: 100%;
    flex: 0 0 100%;
  } */

} 


@media (max-width: 1500px) {

  /*   .cont3Top{
      height: 10%;
      width: 50%;
    }
    .tcont3{
      font-size: 1rem;
    } */

    .textItem{
      font-size: 0.8rem;
    }
  
    .textItemName3{
      font-size: 0.8rem;
    }
}