* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(0, 0, 0, 0.38);
  backdrop-filter: blur(3.5px);
  color: white; /* Cambia el color del texto a blanco o el color deseado */
  padding: 10px; /* Agrega espacio interno al encabezado */
  position: fixed;
  width: 100%;
  min-height: 10vh;
  z-index: 1;
}

.alert {
  position: fixed;
  padding: 0;
  border-radius: 0px 0px 29px 29px;
  background: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(7.5px);
  top: 50%;
  width: 70%;
  height: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.alertTitle {
  background: rgba(255, 184, 0, 0.68);
  backdrop-filter: blur(4.211065292358398px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Lexend;
  font-size: 1.2rem;
  height: 40px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.alertTextContainer {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(7.5px);
  margin: 64px 32px;
}

.alertTextContainer p {
  color: #454545;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px;
}

.alertButtonsContainer {
  border-radius: 10px;
  border: 1px solid #fff;
  background: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  margin: 0 32px;
}

.accept,
.reject {
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  backdrop-filter: blur(7.5px);
  border: none;
  padding: 12px 86px;
}

.accept {
  background: rgba(87, 198, 0, 0.68);
}

.reject {
  background: rgba(53, 53, 53, 0.68);

}

.menu {
  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
  flex-direction: column;
  width: 100%;
  padding-left: 32px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el h1 puntual */
.customH1 {
  font-size: 3.75rem;
  font-family: "Lexend", sans-serif; /* Fuente personalizada */
  font-weight: 600; /*Peso de semibold*/
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

/********SECTION 1 ***********/

/* Estilos para la sección1 con imagen de fondo */
.sectionOneWithBackground {
  background-image: url("src/img/section1_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */

  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.customH2 {
  color: #ffffff; /* Color personalizado */
  font-family: Lexend; /* Fuente personalizada */
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  text-align: left; /* Alineación a la izquierda */
  line-height: normal;
}

.colorAma {
  color: rgba(255, 184, 0, 1);
}

.infoContainer {
  padding-top: 80px;
  width: 100%;
  min-height: 84vh;
  /*en pantallas más grandes 750px*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 3%;
  align-items: flex-start; /* Alinea el contenido en la parte izquierda */
  justify-content: flex-end; /* Alinea el contenido en la parte inferior */
}

.clientInformationContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
}

.informationContainerText {
  margin-top: 32px;
  display: flex;
  justify-content: start;
  column-gap: 64px;
  align-items: start;
  flex-wrap: wrap;
}

.clientInformationContainer p,
.salesManInfoContainer p {
  margin: 0;
  text-align: left;
  color: #fff;
  font-family: DM Sans;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.salesManInfoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
}

.salesManInfoContainer p:first-child {
  font-size: 1rem;
}

/********SECTION 2***********/

.sectionTwoWithBackground {
  background-image: url("src/img/section2_background.png");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  background-position: center; /* Centra la imagen en la sección */
  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.titleSection2 {
  color: #fff;
  font-family: Lexend;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pSection2 {
  color: #fff;
  font-family: Lexend;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.informationTop {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.informationBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 0.1875rem;
  background: rgba(33, 33, 33, 0.29);
  backdrop-filter: blur(7px);
}

.sectionTwoTableTitle {
  text-align: center;
  color: #fff;
  font-family: Lexend;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: rgba(84, 84, 84, 0.15);
  backdrop-filter: blur(4px);
  border-radius: 0rem 0rem 0.70188rem 0.70188rem;
}

.projectDetailsTHead {
  height: 25px;
  width: inherit;
  font-weight: 700;
  font-style: normal;
  font-family: DM Sans, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.08525rem;
}

.projectDetailsTable {
  width: 96%;
  padding: 10px 0 2px 0px;
  background: rgba(73, 73, 73, 0.25);
  backdrop-filter: blur(4.211065292358398px);
  border-radius: 0 0.1875rem;
}

.projectDetailsTr td:nth-child(1),
.projectDetailsTr th:nth-child(1) {
  text-align: left;
  padding-left: 16px;
}

.projectDetailsTr td:nth-child(2),
.projectDetailsTr th:nth-child(2) {
  text-align: right;
  padding-right: 150px;
}

.projectDetailsTr td:nth-child(3),
.projectDetailsTr th:nth-child(3) {
  text-align: right;
  padding-right: 16px;
}

/* .projectDetailsTr th, */
.projectDetailsTr td {
  font-size: 1rem;
  color: #fff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.364px;
  height: 20px;
  background: rgba(48, 48, 48, 0.8);
}

.projectDetailsTable {
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
}

/******Section3****/

.sectionThreeWithBackground {
  background-image: url("src/img/section3_background.png");
  background-size: cover;
  background-position: center;
  color: #323232;
  padding-bottom: 8px;
  min-height: 100vh;
  width: 100%;
}

.tableSow {
  background: #bebebc;
  padding: 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 14px;
}

.infoSection3ColSold {
  width: 50%;
  flex: 0 0 calc(50% - 10px); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  background-image: url("src/img/section3_background.png");
  background-size: cover;
}

.infoSection3ColProj {
  width: 50%;
  flex: 0 0 calc(50% - 10px); /* Evitar que se encogen, pero permitir que ocupen el 50% menos 10px de margen */
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.section3Title {
  color: #000;
  font-family: Lexend;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 10px 20px 5px 20px; /*top right bottom left*/
}

.dateStyle {
  color: #000;
  font-family: Lexend;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 20px 20px 20px;
  margin: 0;
}

.soldSowHead {
  background: #b3b2b0; /* rgba(156, 156, 156, 0.93); */
  backdrop-filter: blur(4.211065292358398px);
  /*width: 53.6875rem;*/
  height: 3.125rem;
}

.textTable2 {
  color: #000;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05425rem;
  background-color: #d7d6d5;
  margin: 0;
}

.textTable1 {
  color: #000;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05425rem;
  background-color: #cececb;
  margin: 0;
}

.cont3 {
  background: rgba(212, 211, 211, 0.33);
  backdrop-filter: blur(2px);
  border-radius: 0rem 0rem 0.7rem 0.7rem;
  opacity: 0.8;
  padding: 8px 0;
  width: 100%;
}
.cont3Padd {
  padding: 4%;
}

.Flex {
  display: flex;
}

.colFlex {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.col3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  /* opacity: 0.7; */
  background: rgba(202, 200, 200, 0.29);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.contentSection {
  width: 100%;
  padding: 0 16px 0 16px;
}

.contentSectionTab {
  width: 100%;
  padding: 0 16px 0 16px;
  background: #d9d8d6;
}

.c1 {
  width: 50%;
}

.c2 {
  width: 50%;
  text-align: right;
}

.row {
  width: 100%;
}

.c1tab {
  width: 70%;
}

.c2tab {
  width: 30%;
  text-align: right;
}

.textInfo3 {
  color: #000;
  text-align: center;
  font-family: Lexend;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 0 0;
}

.tittles {
  color: #000;
  text-align: center;
  font-family: Lexend;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textItemName3 {
  color: #000;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08525rem;
  margin: 0;
}

.textItem3L {
  color: #000;
  font-family: Lexend;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0px 20px;
}

.textItem {
  color: #000;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08525rem;
  margin: 0;
  padding: 0;
}

.textItem3R {
  color: #000;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08525rem;
  text-align: right;
  margin: 0;
}

.colLeft {
  width: 12%;
}

.colRight {
  width: 88%;
}

.bGris {
  margin-top: 2%;
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(174, 174, 174, 0.57);
  backdrop-filter: blur(6px);
  padding: 12px;
}

.bGrisP {
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(174, 174, 174, 0.57);
  backdrop-filter: blur(6px);
  padding: 10px; /*top right bottom left*/
}

.bGrisI {
  width: 100%;
  border-radius: 0.6rem;
  background: rgba(189, 189, 189, 0.38);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.colorModel {
  background: rgba(163, 163, 163, 0.38);
}

.alignLeft {
  text-align: left;
}
.marginTop {
  margin-top: 1%;
}
.padBottom {
  padding-bottom: 6%;
}

.info3Content {
  height: 100%;
  width: 100%;
}

.img3Content {
  height: 90%;
  width: 90%;
  justify-content: center;
  align-self: center;
}

.imgContainer {
  width: 100%;
  height: auto;
  padding: 0 !important;
}

.satelitalImage {
  width: 100%;
  height: 100%;
}

.mapOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  bottom: 0%;
  width: 100%; /*400px;*/
  height: 40px;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 30;
}

.mapOverlay p {
  margin: 0;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: left;
  font-family: "DM Sans", sans-serif;
  padding: 0;
  font-size: 0.8rem;
}

.soldSowTr th {
  color: #464646;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.364px;
  padding-left: 16px;
  padding-right: 16px;
  height: 20px;
}

.soldSowTr td {
  padding-left: 16px;
  padding-right: 16px;
  height: 20px;
  font-size: 1rem;
}

.soldSowTr th:nth-child(2),
.soldSowTr td:nth-child(2) {
  text-align: right;
}

.textSow {
  color: #323232;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08525rem;
  padding: 0 10px;
}

.bgTr1 {
  background: #ababa8;
}

.bgTr {
  color: #464646;
  font-family: DM Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08525rem;
}

/********SECTION 4 ***********/

.sectionFourWithBackground {
  background-image: url("src/img/section4_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */

  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.addersTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
  background-color: #d9d8d6;
}

.addersTable .addersThead th {
  border-spacing: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  height: 50px;
  font-family: Lexend;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #313435;
  margin-top: -16px; /* Elimina la separación superior */
}

.addersTbody tr:nth-child(1) {
  border-spacing: 0 0;
  margin-top: -32px; /* Elimina la separación superior */
}

.addersTr td {
  padding-left: 16px;
  background-color: #2c2c2e;
  color: #fff;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.364px;
  height: 20px;
}

.totalContainer {
  display: flex;
  margin-top: 3px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #39393b;
  padding: 16px;
}

.total,
.totalValue {
  color: #fff;
  font-family: DM Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.98px;
  margin: 0;
}

.totalAuxiliary {
  padding: 16px;
  margin-top: 32px;
}

.projectDetailsTr td:nth-child(1),
.projectDetailsTr th:nth-child(1) {
  text-align: left;
}

.projectDetailsTr td:nth-child(2),
.projectDetailsTr th:nth-child(2) {
  text-align: right;
}

.projectDetailsTr td:nth-child(3),
.projectDetailsTr th:nth-child(3) {
  text-align: right;
}

.bgTrTd {
  background: #2f2c2c;
}

.auxiliaryProducts {
  width: 100%;
  margin-top: 32px;
  background: rgba(33, 33, 33, 0.69);
  backdrop-filter: blur(7.5px);
}

.auxiliaryProductsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 11.23px 11.23px;
  background: rgba(217, 217, 217, 0.17);
  backdrop-filter: blur(4.211065292358398px);
  height: 60px;
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auxiliaryProductsInformation {
  width: 60%;
}

.imageContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.roof,
.exterior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  background: rgba(98, 98, 98, 0.87);
  backdrop-filter: blur(7.5px);
}

.roof p,
.exterior p {
  color: #fff;
  font-family: Lexend;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 16px;
}

.auxiliaryList {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.18);
  backdrop-filter: blur(7.5px);
  padding: 8px 16px;
  margin-left: 32px;
}

.auxiliaryList div:nth-child(1) {
  margin-top: 0;
}

.auxiliaryItem {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.auxiliaryItem p {
  color: #fff;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.364px;
  margin: 0;
}

.sectionFiveWithBackground {
  background-image: url("src/img/section5_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.tableContainer {
  width: 100%;
  background-color: #afaaaa96;
  backdrop-filter: blur(4.211065292358398px);
  margin: 32px 0;
}

.tableContainerTitle {
  color: #343434;
  font-family: Lexend;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  line-height: normal;
  border-radius: 0px 0px 11.23px 11.23px;
  background: rgba(156, 156, 156, 0.93);
  backdrop-filter: blur(4.211065292358398px);
  padding-left: 16px;
}

.section5Tbody tr td {
  color: #323232;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.364px;
  background-color: #cbcac8;
  width: 100%;
  height: 20px;
  padding-left: 16px;
}

.section5Table {
  width: 100%;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
}

.positionRelative {
  position: relative;
}

.sectionSixWithBackground {
  background-image: url("src/img/section5_background.png"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
  color: #fff; /* Color del texto dentro de la sección */
  padding: 50px; /* Espacio interior para el contenido de la sección */
  padding-bottom: 8px;
  min-height: 100vh;
}

.secSixTitle {
  color: #393941;
  font-family: Lexend;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 100%;
  margin-bottom: 32px;
}

.secSixSubTitle {
  color: #101528;
  text-align: center;
  font-family: DM Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  text-align: left;
  margin: 0 16px;
  margin-bottom: 16px;
}

.sectionSixImagesContainer {
  display: flex;
  height: 300px;
  justify-content: space-between;
  margin: 0 16px;
}

.secSixImageOne {
  width: 60%;
  height: auto;
}

.secSixImageTwo {
  width: 10%;
  height: auto;
}

.secSixInformationContainer {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  margin-left: 16px;
  row-gap: 32px;
}

.secSixInfoContainer {
  display: flex;
  column-gap: 96px;
}

.secSixInfo {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 250px;
}

.secSixInfo h4 {
  color: #454545;
  font-family: DM Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.secSixInfo p {
  color: #101528;
  font-family: DM Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.secSixtableTitle {
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #686868;
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secSixTable {
  width: 100%;
  background: #686868;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0 16px; /* Ajusta el valor de 10px según el espacio deseado entre las filas */
}

.secSixTable thead {
  background-color: #585857;
  height: 60px;
  padding: 0 16px;
}

.secSixTable thead th {
  text-align: center;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.1px;
}

.secSixTable tbody tr td {
  text-align: center;
}

.secSixTable tbody tr {
  background-color: #5d5d5c;
}

.secSixFinalTextContainer {
  display: flex;
  justify-content: start;
}

.secSixFinalText {
  color: #3e3e3e;
  margin-top: 16px;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  letter-spacing: 1.1px;
}
